@keyframes bounce {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
};


.home-title-img-right{
    animation: bounce 0.5s infinite alternate;
}

h1{
    text-align: center;
    color: var(--wenge);
}

/*Il componente <Link /> viene tradotto come un a nel css*/
a{  
    text-decoration: none;
}

.home-title {
    height: 100px;
    display: flex;
    justify-content: center;
    gap: 10px;

}

.accedi-registrati{
    display: flex;
    gap:5px;
}

.username-disconnetti{
    display: flex;
    gap:5px;
}