ul{
    /* margin-top: 150px; */
    width: 285px;
    background-color: burlywood;
    border:solid 3px white;
    margin-left: 30px;
    
}


li{
    padding: 20px;
}

#ricette-wrapper{
    display: flex;
    align-items: center;
    gap:20vw;
    min-height: 100vh;
}

#ricette-card-wrapper{
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    gap:10px;
}