/*div livello0*/
.ricette-pagina{
    height: 100%;
}
/*div livello1*/
#ricette-wrapper{
    position: relative;
    top:9%;
    height: 91%;

}

/*div livello2*/
.ricette-nav{
    position: fixed;
    width: 30%;
    height: auto;
    display: flex;
    flex-direction: column;
}
/*div livello2*/
.ricette-outlet-container{
    position: absolute;
    left: 30%;
    width: 70%;
    height: auto;
    margin-top: 1%;
}

/*div livello3*/
#ricette-card-wrapper{
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    gap:10px;
}

.ricette-nav{
    width: 20%;
    height: 100%;
}

.ricette-nav>ul{
    /* margin-top: 150px; */
    width: calc(100%-6px); /*bordo dx e sx*/
    height: 60%;
    background-color: var(--burlywood);
    border:solid 3px white;
    
}


li{
    padding: 20px;
}


/*css del Link*/
.ricette-nav>a{
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    text-align: center;
    background-color: var(--persian-green);
    cursor: pointer;
    transition: border-color 0.25s;
}

.ricette-nav>p{
    margin-bottom: -14px;
    text-align: left;
    font-size: 1.3em;
    color: gold;
}






