
#cards-container{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.card-wrapper{
    display: flex;
    gap: 2em;
}

.card{
    width: 300px;
    max-height: 600px;
    min-height:390px;
    padding: 1em;
    border-top: solid orange 2.5px;
    border-bottom: solid orange 5px;
    background-color: rgb(78, 77, 77);
    margin-left: 10px;
    margin-right: 10px;
}

.card>h2{
    margin-top: 0;
}

#card-img-wrapper>img{
    width: 100%;
}

.carosel{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}