.card-explorer{
    margin-left: 10px;
    width: calc(100%-10px);
    height: 10%;
    display: flex;
    gap: 4px;
}

.my-button,.my-button-clicked{
    width: auto;
    height: 60%;
    margin-bottom: 2%;
}
.my-button-clicked{
    background-color: burlywood;
}