
.carosel-imgs{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
    align-items: center;
}

.carosel-imgs>img{
    width: 200px;
    height: 200px;
}

.carosel-imgs>button{
    font-size: 1.5em;
    color: var(--melon);

    border: 3px solid var(--persian-green);
    width: 20px;
    height: 200px;
}
