:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* Coolor palette */
  --wenge: rgb(52, 41, 40);
  --amaranth-pink: #db93b0ff;
  --melon: #f7bfb4ff;
  --cambridge-blue: #7daf9cff;
  --persian-green: #23967fff;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--cambridge-blue);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {color:unset;
  font-weight: 500;
  text-decoration: none;
}
a:hover {
  color:unset;
}

body {
  margin: 0;
  /*place-items: center;*/
  min-width: 320px;
  color: var(--wenge);
  background-image: url("/western-toad.png");
  background-repeat: repeat;
  background-size: 300px 300px;

}

h1 {
  font-family: 'Merienda', cursive;
  font-size: 3.2em;
  line-height: 1.1;
}

p,li,a{
  font-family: 'Merienda', cursive;
  font-size: 1.1em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  font-size: 1.4em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--persian-green);
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: var(--melon);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


